* {
  margin: 0;padding: 0;box-sizing: border-box;   scroll-behavior: smooth;
}

body {
    font-family: "Teko", sans-serif;
    background: #1b1b1b;
    color: #fff;
    /* padding: 20px; */
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    position: relative;


  }

/* ! Start Scroll button */
.scroll-button {
/* position: fixed;
bottom: 10px;
right: 10px;
width: 30px;
height: 30px;
outline: 0;
border: 0;
display: flex;
align-items: center;
justify-content: center; */

position: fixed;
bottom: 10px;
right: 10px;
/* width: 100px; */
/* height: 100px; */
/* padding: 15px; */
z-index: 1111;
border-radius: 50%;
border: 0;
outline: 0;
background: #ff9800;
cursor: pointer;
width: 30px;
height: 30px;
color: #fff;
/* font-weight: bold; */
font-size: 18px;
line-height: 35px;

}


/* ! Start Scroll button */
.layout .Send__Information__Button {
  background-color: #ff9800;
  animation: scaleAnimation 1s infinite alternate;
  z-index: 1111;
  cursor: pointer;
  margin-top: 20px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding: 10px 19px;
  color: #fff;


}

@keyframes scaleAnimation {  
  0% {  
    transform: scale(1);  
  }  
  100% {  
    transform: scale(1.1); 
  }  
}; 


