.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 5px 10%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    position: sticky;
    top: 0;
    z-index: 1111;
}

.Header__Logo {
    width: 70px;
    height: 40px;
}

.Header__List {
    list-style: none;
    display: flex
    ;
}

.Header__List__Link a {
    color: #eee;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3;
    margin-left:  40px;
}

.Header__List__Link a:hover {
    color:#ff9800;
}

@media screen and (min-width : 0px) and (max-width : 800px) { 

    .Header  {
      padding: 5px 5%;
    }
    
  
  }